CRAFT_APP_ID=
CRAFT_ENVIRONMENT=dev

# General settings
CRAFT_SECURITY_KEY=
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true

# Database
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=db
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=db
CRAFT_DB_USER=db
CRAFT_DB_PASSWORD=db
CRAFT_DB_SCHEMA=
CRAFT_DB_TABLE_PREFIX=

# Folders
PUBLIC_FOLDER="web"
FILESYSTEM_FOLDER="assets"
TRANSFORMS_FOLDER="transforms"

# Site
CRAFT_SITE_NAME=
CRAFT_SYSTEM_EMAIL=
CRAFT_TEST_TO_EMAIL_ADDRESS=
PRIMARY_SITE_URL=
CRAFT_WEB_ROOT="/var/www/html/${PUBLIC_FOLDER}"

# Servd
SERVD_PROJECT_SLUG=
SERVD_SECURITY_KEY=
SERVD_ASSET_ENVIRONMENT=

# Filesystem
FILESYSTEM_TYPE="local" # local or servd

# Filesystem - Local
FILESYSTEM_LOCAL_BASE_URL="${PRIMARY_SITE_URL}/${FILESYSTEM_FOLDER}"
FILESYSTEM_LOCAL_BASE_PATH="${CRAFT_WEB_ROOT}/${FILESYSTEM_FOLDER}"